body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: red;
}
html.is-changing .transition-fade {
  transition: opacity 0.25s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  color: #333;

  width: 100%;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  z-index: 100000; /* Ensure header stays on top */
  /* Example: white background */
  background-color: white;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.header ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3%;
  list-style: none;
  padding: 10px 15px;
}

.header ul li a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  font-weight: 0;
  transition: 0.5s ease;
  font-weight: 400;
}

/* .header ul li a:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: red;
  display: none;
  transition: 0.5s ease-in;
}

.header ul li a:hover:after {
  display: block;
  transition: 0.5s ease-in;
} */

.header ul li a:hover {
  color: red;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23%;
  font-size: 20px;
}

.logo h2 {
  width: 100%;
  background: linear-gradient(to bottom, black, #eb6e08);
  text-transform: uppercase;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.home {
  bottom: -110px; /* Example: off-screen initially */
  height: 70vh;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 4%;
}

.home div {
  margin: 3%;
}
.home div p {
  color: #eb6e08;
  font-style: italic;
  font-size: 20px;
  font-weight: 500;
}

.sticky {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Example: bottom box shadow */

  transition: 0.5s ease-out;
}
.btns {
  margin: 15px;
  padding: 2%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.btns a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.5s ease;

  font-size: 20px;
  font-weight: 500;
}

.btn-discover {
  background-color: #eb6e08;
  color: white;

  margin: 2%;
}

.btn-contact {
  border: 1px solid #eb6e08;
  color: black;

  margin: 2%;
}

/* About */

.about {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  padding-top: 150px;
}

.about > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.who_are_we {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.mission,
.vission {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3%;
  width: 90%;
  margin: 2%;
  height: 200px;
}

.mission img,
.vission img {
  width: 20%;
  margin: 2%;
}

.mission p,
.vission p {
  width: 60%;
  margin: 2%;
}
.overview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  font-weight: 400;
  padding: 0;
}

.overview div {
  width: 45%;
  padding: 2%;
  color: black;

  margin: 2%;
}

.overview img {
  width: 35%;
  height: auto;
}

.who_are_we_statemet {
  display: none;
}
.mission p,
.vission p {
  text-align: left;
  font-weight: 400;
}

.services {
  height: 100vh;
  padding-top: 150px;
}

/* Footer */

footer {
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0;
  padding: 0;
  bottom: 0;
  color: white;
}

.footer-items {
  background-color: rgba(0, 0, 0, 0.93);
  padding: 0;
  margin: 0;
  bottom: 0;
  min-height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 4%;
}

.footer-info {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.footer-info div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 1%;
  padding: 0;
}

.address p {
  width: 100%;
  margin: 0;
  font-weight: 300;
}

.contacts {
  width: 40%;
}

.contacts p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.explore ul {
  width: 100%;
}

.explore ul li {
  padding: 4px 7px;
}

.explore ul li a {
  margin: 2%;
  text-decoration: none;
  color: white;
  font-size: 17px;
  width: 100%;
  font-weight: 300;
}
i {
  margin: 10px;
}

.fa-bars,
.fa-times {
  display: none;
}

.contact-info p {
  padding: 0;
  margin: 0;
  font-weight: 300;
}

.team {
  background-color: white;
  min-height: 100vh;
  padding-top: 130px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: #eb6e08;
}

.team-intro {
  width: 80%;
  margin: 0;
  padding: 0;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.team-member {
  margin-top: 0;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.member-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.member {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #eb6e08;
  width: 300px;
  min-height: 300px;
  margin: 1%;
  display: flex;
  padding: 10px;
  border-radius: 8px;
  color: white;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
}
.img-social {
  display: flex;
  width: 100%;
}

.member-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  width: 15%;
  margin-right: 3%;
}

.member .role,
.member .team-descrip {
  padding: 5px;
}

.member p {
  margin: 1%;
  width: 70%;
  background-color: black;
  border-bottom-left-radius: 30px;
  text-align: center;
  border-top-right-radius: 30px;
}

.member a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

.meet {
  padding-top: 130px;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: white;
  color: black;

  min-height: 100vh;
}

.meet-intro {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  flex-wrap: wrap;
}

.meet-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 50vh;
}

.member-social a {
  border: none;
  color: white;
}

.member-social a i {
  font-size: 1rem;
}
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 1%;
  margin: 1%;
}

.social i {
  color: #eb6e08;
  font-size: 1.7rem;
}

.meet-intro img {
  border: 4px solid #eb6e08;
  justify-content: center;
  border-radius: 50%;
}

.item {
  width: 300px;
  height: 500px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: top;
  margin: 1%;
}

.item h1 {
  background-color: #eb6e08;
  color: white;
  width: 100%;
  text-align: center;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  font-size: 22px;
  padding: 1%;
}

.item p {
  width: 90%;
  font-weight: 400;
  line-height: 1.4rem;
}

.item ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item ul li {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 400;
  margin: 3%;
}

.item ul li i {
  margin-right: 10px;
  width: 10%;
  color: #eb6e08;
  margin: 2%;
  font-size: 20px;
}

.item ul li span {
  width: 92%;
}

/* Queries */

@media screen and (max-width: 1000px) {
  .logo h2 {
    font-size: 20px;
  }

  .header {
    width: 100%;
  }

  .header nav ul li a {
    font-size: 17px;
  }

  .header nav {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .header ul {
    width: 100%;
  }

  .home {
    display: flex;
    align-items: center;
    height: 60vh;
  }

  .home div {
    width: 50%;
    margin: 0;
    padding: 0;
  }

  .home div img {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 900px) {
  .logo h2 {
    font-size: 16px;
  }

  .logo {
    flex-direction: column;
  }

  .header nav {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header nav ul {
    width: 100%;
  }

  .header nav ul li {
    width: 100%;
  }

  .header nav ul li a {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home {
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    margin: 2px;
    padding: 2%;
    height: 70vh;
    align-items: center;
    justify-content: center;
  }

  .home > div img {
    width: 300px;
    height: 150px;
  }

  .home div {
    width: 40%;
    margin: 0;
    padding: 0;
  }

  .home div h1 {
    font-size: 2rem;
    font-weight: 800;
    color: red;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 790px) {
  .logo {
    flex-direction: row;

    width: 40%;
  }

  .logo h2 {
    font-size: 20px;
  }

  nav {
    display: flex;
    width: 100vw;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -1000px;
    padding: 10px 0;
    height: 100vh;
    transition: left 0.5s ease;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  nav ul li {
    width: 100%;
  }

  nav ul li a {
    font-size: 18px;
    margin: 2%;
    width: 100%;
  }

  .fa-bars,
  .fa-times {
    display: block;
    font-size: 30px;
  }

  .header {
    justify-content: space-around;
  }

  .home {
    height: 100vh;
    width: 100%;
    padding: 2%;
  }

  .home .btns {
    width: 100%;
    flex-direction: row;
  }

  .home .btns a {
    width: 35%;
  }

  .home div {
    width: 95%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
  }

  .home div h1 {
    font-size: 1.5rem;
    color: black;
  }

  .home div p {
    color: #eb6e08;
    font-weight: 500;
  }

  .about > div {
    width: 70%;
    flex-direction: column;
  }

  .about > div > div {
    width: 100%;
  }

  .social {
    flex-direction: row;
    margin: 2%;
    padding: 2%;
  }

  .home > div img {
    width: 400px;
    height: auto;
  }

  .home-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .who_are_we_statemet {
    display: block;
  }

  .overview div,
  .overview img {
    width: 100%;
  }

  .overview div h1 {
    display: none;
  }
}
